import sys
import site
import os
import django

envpath = '{{ prefix_dir }}/{{ namespace }}/.virtualenvs/{{ name }}/lib/{{ python_version }}/site-packages'
site.addsitedir(envpath)

prev_sys_path = list(sys.path)
# add setting folder to python path
sys.path.append(os.path.dirname(os.path.abspath(__file__)) + '/../etc')
new_sys_path = [p for p in sys.path if p not in prev_sys_path]
for item in new_sys_path:
    sys.path.remove(item)

sys.path[:0] = new_sys_path

os.environ['DJANGO_SETTINGS_MODULE'] = 'settings'

if django.VERSION < 1.7:
    from django.core.handlers.wsgi import WSGIHandler
    application = WSGIHandler()
else:
    from django.core.wsgi import get_wsgi_application
    application = get_wsgi_application()
