from {{ settings_import }} import *

STATIC_ROOT = '{{ prefix_dir }}/{{ namespace }}/{{ name }}/www/static'
{% if media_root -%}
MEDIA_ROOT = '{{ media_root }}'
{%- endif %}

{% if not use_sqlite -%}
DATABASES = {
	"default": {
		"ENGINE": "{{ db_engine }}",
		"NAME": "{{ db_name }}",
		"USER": "{{ db_user }}",
		"PASSWORD": "{{ db_password }}",
		"HOST": "{{ db_host }}",
		"PORT": "{{ db_port }}"
	}
}
{%- endif %}

{% if extra_django_settings %}
{% for setting in extra_django_settings %}
{{ setting }}
{% endfor %}
{% endif %}
