#!/bin/sh

UWSGI={{ prefix_dir }}/{{ namespace }}/{{ name }}/.virtualenvs/{{ name }}/bin/uwsgi
ROOT={{ prefix_dir }}/{{ namespace }}/{{ name }}/bin
PID={{ prefix_dir }}/{{ namespace }}/{{ name }}/var/run/{{ name }}.pid

if [ -f $PID ]; then kill -9 `cat $PID`; rm $PID; fi

cd $ROOT
exec 2>&1
exec $UWSGI \
--env LC_ALL="{{ uwsgi_locale }}" \
--env LANG="{{ uwsgi_locale }}" \
--socket {{ uwsgi_listen_int }}:{{ uwsgi_port }} \
--uid {{ name }} \
--gid {{ name }} \
--pidfile $PID \
--processes={{ uwsgi_process_count }} \
-w django_wsgi